.lp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lp-landingPage > section:nth-child(1) {
    height: 100vh;
}
.lp-landingPage > section:nth-child(2) {
    height: 100vh;
}
.lp-landingPage > section:nth-child(3) {
    height: 100vh;
}
.lp-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.lp {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-evenly;
}
.lp-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lp-main-content > div {
    margin-left: 2rem;
}
.lp > div > div {
    font-size: 3.2rem;
    font-weight: bold;
}
.lp-main-content > div > img {
    width: 40vw;
}
.lp-category {
    margin-left: 2rem;
}
.lp-category > img {
    width: 240px;
    height: 160px;
    border-radius: 30px;
}
.lp-category > div {
    font-size: 1rem;
}
.category-entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.second-page {
    display: flex;
    flex-direction: column;
}
