.headermenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainmenu {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.mainmenu-logo,
.mainmenu-profile {
    z-index: 1;
}
.search-bar {
    display: flex;
    justify-content: center;
}
