.navigationWrapper {
    position: relative;
    top: -1rem;
    display: flex;
    height: 5rem;
    width: 40rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #c9c9c9;
    box-shadow: 0 4px 64px rgba(0, 0, 0, 0.3);
}
.navigationSearch > select,
input {
    border: none;
    height: 2rem;
}
.navigationSearch {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55rem;
    height: 4rem;
}
.search {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    height: 3rem;
    background-color: #fff;
    flex-direction: column;
}

.personNum {
    width: 5rem;
}
.timeOption {
    display: flex;
    flex-direction: row;
}
.searchBtn-wrapper {
    background-color: #c9d4f2;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    transition: all ease-out 0.3s;
}
.searchBtn-wrapper:hover {
    background-color: #719aee;
}

.geoDescription {
    display: flex;
}
.geothumbnail {
    border: 1px solid black;
    width: 480px;
    height: 480px;
}
