.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
select{
    border: none;
}
.lander-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400vh;
    background-color: grey;
    justify-content: space-around;
}
.header {
    flex-grow: 0.2;
    background-color: honeydew;
    display: flex;
    justify-content: space-between;
}
.logo-box {
    background-color: lawngreen;
    /* text-align: center; */
    width: 10rem;
    margin: 1rem;
}
.profile {
    background-color: lightblue;
    width: 10rem;
    margin: 1rem;
}
.description-and-image {
    flex-grow: 1.8;
    background-color: hotpink;
    display: flex;
}
.description-part {
    background-color: lightcyan;
    width: 40%;
    margin: 1rem;
}
.description-text {
    margin: 1rem;
}
.description-title {
    margin: 1rem;
}
.img-part-box {
    width: 60%;
    margin: 1rem;
    background-color: lightskyblue;
}
.description-and-category {
    flex-grow: 2;
    background-color: indigo;
    display: flex;
    flex-direction: column;
}
.category-title {
    flex-grow: 0.1;
    margin: 1rem;
    background-color: lightslategray;
}
.category-box {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lime;
    margin: 1rem;
}
.category-item {
    background-color: magenta;
    width: 20%;
    height: 40%;
    margin: 1rem;
}
.desciption-and-map {
    flex-grow: 2;
    background-color: khaki;
    display: flex;
    justify-content: space-around;
}
.map-description {
    width: 50%;
    background-color: maroon;
    margin: 1rem;
}
.map-img-box {
    width: 50%;
    background-color: mediumblue;
    margin: 1rem;
}

.desciption-and-endCloseGroup {
    flex-grow: 2;
    background-color: lawngreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.endCloseGroup-title {
    background-color: mediumpurple;
    margin: 1rem;
    flex-grow: 0.1;
}
.endCloseGroup-box {
    background-color: midnightblue;
    margin: 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.endCloseGroup-item {
    background-color: magenta;
    width: 20%;
    height: 60%;
    margin: auto;
}
.group-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
.upper-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
}
.logo-in-group {
    width: 3rem;
    margin: auto;
    margin-left: 1rem;
    background-color: honeydew;
    border-radius: 50%;
}
.nav-in-group {
    width: 40rem;
    height: 4rem;
    margin: auto;
    background-color: hotpink;
    border-radius: 10%;
}
.profile-in-group {
    width: 3rem;
    margin: auto;
    margin-right: 1rem;
    background-color: indianred;
    border-radius: 50%;
}
.c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* width: 50vw; */
    /* height: 60vh;     */
    background: rgba(0, 0, 0, 0.6);
    z-index: 1050;
}
.c-modal button{
    outline : none;
    cursor: pointer;
    border: 0;
}
.c-modal > section{
    width: 20rem;
    height: 30rem;
    margin : 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    animation: modal-show 0.3s;
    overflow: hidden;
    position: absolute;
    left: 65%;
    top: 30%;
}
.searchModal {
    width: 40rem;
    height: 48rem;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 4rem auto;
    padding: 1.5rem;
    background: #fff;
}
.createModal {
    width: 100%;
    height: 100%;
    background-color: #F1F5FE;
    margin-top: 10rem;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.close {
    float: right;
    font-size: 25px;
}
.modal-contents{
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.contents-group{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-category{
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-start{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-end{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-message{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-button{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.gitContents {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 20px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.middle-info-and-map {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: auto;
    height: 80%;
    width: 90%;
}
.group-info {
    width: 60%;
    overflow: auto;
    margin: 1rem;
    /* text-align: center; */
    margin: 5rem auto;
    font-size: 3rem;
    font-weight: bold;
}
.group-list{
    background-color: #C4D5F7; 
    margin: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex: row;
    justify-content: space-between;
    border-radius: 0.4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
}
.group-info::-webkit-scrollbar {
    width: 10px;
}
.group-info::-webkit-scrollbar-thumb {
    background-color: #6B97EC; ;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.group-info::-webkit-scrollbar-track {
    background-color: #C4D5F7;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.group-list-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.group-list-item-title{
    font-size: 3rem;
}
.group-list-item-time-and-category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2rem auto;
}
.group-list-item-category{
    width: 30%;
    padding: 0;
    margin: 0;
}
.group-list-item-join{
    width: 20%;
    height: 10rem;
}
.group-join-button{
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    height: 100%;
    border: 0;
    border-radius: 0.3rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

}
.map-info {
    width: 40%;
    margin: 1rem;
}
.my-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
.logo-in-my {
    width: 3rem;
    margin: auto;
    margin-left: 1rem;
    background-color: honeydew;
    border-radius: 50%;
}
.welcome-in-my {
    width: 40rem;
    height: 4rem;
    margin: auto;
    background-color: hotpink;
    border-radius: 10%;
    text-align: center;
    line-height: 4rem;
}
.signout-in-my {
    width: 3rem;
    margin: auto;
    margin-right: 1rem;
    background-color: indianred;
    border-radius: 50%;
}
.middle-myInfo {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1F5FE; 
    border-radius: 1rem;
    margin: 1rem auto;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);

}
.user-info {
    margin: auto;
    width: 40%;
    height: 80%;
    background-color: #C4D5F7; 
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
.user-info-contents{
    margin:3rem auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contents-key{
    font-size: 2rem;
    font-weight: bold;
}
.contents-value{
    font-size: 1.4rem;
}
.user-info-button{
    height: 10%;
    width: 80%;
    margin-top: 0.5rem;
    margin: 0.1rem auto;
    border-radius: 1rem;
    border:0;
    background-color: #6B97EC;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);

}
.group-state {
    margin: auto;
    width: 40%;
    height: 80%;
    background-color: #A6C1F4; 
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
.group-state-contents{
    margin:3rem auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.make-group-message{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
#map{
    border-radius: 0.5rem;
    border:0;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
}
.welcome-message{
    font-size: 1.7rem;
    font-weight: bold;
}
.group-state-contents > .contents-key{
    font-size : 1.8rem;
}
.no-group{
    font-size: 3rem;
    font-weight: bold;
}