:root {
    /* theme color */
    --main-blue-color: #89acf0;
    --light-blue-color: #c4d5f7;
    --lighter-blue-color: #e1eafb;
    --main-black-color: #000000;
    --light-grey-color: #666666;
    --lighter-grey-color: #999999;
    /* alert color */
    --alert-text-color: #c04c50;
    --alert-content-color: #d0797c;
    /* font-size */
    --h1-font: 4.8rem;
    --h2-font: 3.6rem;
    --h3-font: 2.4rem;
    --h4-font: 1.8rem;
    --general-font: 1.2rem;
    --small-font: 1rem;
    --smaller-font: 0.8rem;
    /* padding 디폴트 */
    --default-padding: 1.8rem;
    /* margin 디폴트*/
    --bottom-margin: 1.8rem;
    /* 모깎기 디폴트 */
    --default-border: 2rem;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

header,
section,
article,
aside,
footer,
main,
a,
button,
input,
textarea,
img,
nav,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
    margin: 0;
    padding: 0;
    /* 폰트 크기 상속 */
    font-size: inherit;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.group-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
.c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1050;
}
.c-modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.c-modal > section {
    width: 20rem;
    height: 30rem;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    animation: modal-show 0.3s;
    overflow: hidden;
    position: absolute;
    left: 65%;
    top: 30%;
}
.createModal {
    width: 100%;
    height: 100%;
    background-color: #f1f5fe;
    margin-top: 10rem;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.close {
    float: right;
    font-size: 2rem;
}
.modal-contents {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.contents-group {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-category {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-start {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-end {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-message {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.contents-button {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.gitContents {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 20px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.middle-info-and-map {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 80%;
    width: 90%;
}
.group-info {
    width: 60%;
    overflow: auto;
    margin: 5rem auto;
    font-size: 3rem;
    font-weight: bold;
}
.group-list {
    background-color: #c4d5f7;
    margin: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex: row;
    justify-content: space-between;
    border-radius: 0.4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
}
.group-info::-webkit-scrollbar {
    width: 10px;
}
.group-info::-webkit-scrollbar-thumb {
    background-color: #6b97ec;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.group-info::-webkit-scrollbar-track {
    background-color: #c4d5f7;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.group-list-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.group-list-item-title {
    font-size: 3rem;
}
.group-list-item-time-and-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2rem auto;
}
.group-list-item-category {
    width: 30%;
    padding: 0;
    margin: 0;
}
.group-list-item-join {
    width: 20%;
    height: 10rem;
}
.group-join-button {
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    height: 100%;
    border: 0;
    border-radius: 0.3rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.map-info {
    width: 40%;
    margin: 1rem;
}
.my-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
.logo-in-my {
    width: 3rem;
    margin: auto;
    margin-left: 1rem;
    background-color: honeydew;
    border-radius: 50%;
}
.welcome-in-my {
    width: 40rem;
    height: 4rem;
    margin: auto;
    background-color: hotpink;
    border-radius: 10%;
    text-align: center;
    line-height: 4rem;
}
.signout-in-my {
    width: 3rem;
    margin: auto;
    margin-right: 1rem;
    background-color: indianred;
    border-radius: 50%;
}
.middle-myInfo {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1f5fe;
    border-radius: 1rem;
    margin: 1rem auto;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
}
.user-info {
    margin: auto;
    width: 40%;
    height: 80%;
    background-color: #c4d5f7;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
.user-info-contents {
    margin: 3rem auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contents-key {
    font-size: 2rem;
    font-weight: bold;
}
.contents-value {
    font-size: 1.4rem;
}
.user-info-button {
    height: 10%;
    width: 80%;
    margin-top: 0.5rem;
    margin: 0.1rem auto;
    border-radius: 1rem;
    border: 0;
    background-color: #6b97ec;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
}
.group-state {
    margin: auto;
    width: 40%;
    height: 80%;
    background-color: #a6c1f4;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
.group-state-contents {
    margin: 3rem auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.make-group-message {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
#map {
    position: relative;
    border-radius: 0.5rem;
    border: 0;
    z-index: 0;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.2);
}
.welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.7rem;
    font-weight: bold;
}
.group-state-contents > .contents-key {
    font-size: 1.8rem;
}
.no-group {
    font-size: 3rem;
    font-weight: bold;
}
.marker-join-button{
    width: 70%;
    height: 5%;
}